.container {
    display: flex;
    justify-content: space-between;
}
.container .column {
    width: 45%;
}

button[mat-raised-button] {
    background-color: #f9a21c;
    margin: 20px 0;
    color: white;
}

.input-full-width {
    width: 100%;
}

.input-phone-code {
    width: 25%;
}

.input-phone-number {
    width: 74%;
}

#contact-data {
    display: flex;
    justify-content: space-between;
}

.title {
    color: rgb(0, 89, 167);
    font-family: Lato;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 0;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.successful-reg {
    color: #00C853;
    font-family: Lato;
    font-size: 20px;
    font-weight: 500;
}

.img-icon {
    height: 20px;
}

mat-icon {
    margin-right: 5px;
}

.divider{
    width: 70%;
    margin: 0 auto;
}

.paragraph {
    padding-left: 24px;
}

a[mat-stroked-button] {
    width: 100%;
    color: #f9a21c;
}

.error-msg {
    color: #f44336;
    text-align: left;
}

mat-list-item {
    font-family: Lato;
    height: 40px !important;
}

mat-list-item p {
    padding-top: 5px;
}

@media (min-width: 1200px){
    .container {
        width: 800px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 800px;
    }
}