<div class="main-content">
    <div class="container">
        <div class="column">
            <h3 class="title margin-bottom-15">Create Your FXPRIMUS Profile</h3>
            <p *ngIf="status" class="text-center successful-reg">Thanks for your registration.</p>
            <form  (ngSubmit)="onSignup()" #f="ngForm">
                <mat-form-field class="input-full-width">
                    <input matInput placeholder="First Name"
                           type="text"
                           class=""
                           id="firstName"
                           name="firstName"
                           ngModel=""
                           required=""
                           #firstName="ngModel">
                </mat-form-field>
                <div class="error-msg" *ngIf="firstName.invalid && firstName.touched">
                    <span *ngIf="firstName.errors['required']">First name is required!</span>
                </div>
                <mat-form-field class="input-full-width">
                    <input matInput placeholder="Last Name"
                           type="text"
                           class=""
                           id="lastName"
                           name="lastName"
                           ngModel=""
                           required=""
                           #lastName="ngModel">
                </mat-form-field>
                <div class="error-msg" *ngIf="lastName.invalid && lastName.touched">
                    <span *ngIf="lastName.errors['required']">Last name is required!</span>
                </div>
                <mat-form-field class="input-full-width">
                    <input matInput placeholder="Email"
                           type="email"
                           class=""
                           id="email"
                           name="email"
                           ngModel=""
                           required=""
                           email=""
                           #email="ngModel">
                </mat-form-field>
                <div class="error-msg" *ngIf="email.invalid && email.touched">
                    <span *ngIf="email.errors['required']">Email is required!</span>
                    <span *ngIf="email.errors['email']">Please enter a valid Email address.</span>
                </div>
                <mat-form-field class="input-full-width">
                    <mat-select placeholder="Country" [(ngModel)]="currentCountry" name="country" required="" #country="ngModel">
                        <mat-option *ngFor="let country of countries" [value]="country">
                            {{country}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="error-msg" *ngIf="country.invalid && country.touched">
                    <span *ngIf="country.errors['required']">Country is required!</span>
                </div>
                <div id="contact-data" ngModelGroup="contactData">
                    <mat-form-field class="input-phone-code">
                        <input matInput placeholder="Phone Code"
                               type="number"
                               class=""
                               id="countryCode"
                               name="countryCode"
                               ngModel=""
                               required=""
                               #countryCode="ngModel">
                    </mat-form-field>
                    <mat-form-field class="input-phone-number">
                        <input matInput placeholder="Phone Number"
                               type="number"
                               class=""
                               id="phoneNumber"
                               name="phoneNumber"
                               ngModel=""
                               required=""
                               #phoneNumber="ngModel">
                    </mat-form-field>
                </div>
                <div class="error-msg" *ngIf="countryCode.invalid && countryCode.touched">
                    <span *ngIf="countryCode.errors['required']">Phone code is required!</span>
                </div>
                <div class="error-msg" *ngIf="phoneNumber.invalid && phoneNumber.touched">
                    <span *ngIf="phoneNumber.errors['required']">Phone number is required!</span>
                </div>
                <mat-form-field class="input-full-width">
                    <input matInput placeholder="Username"
                           type="text"
                           class=""
                           id="username"
                           name="username"
                           ngModel=""
                           required=""
                           #username="ngModel">
                </mat-form-field>
                <div class="error-msg" *ngIf="username.invalid && username.touched">
                    <span *ngIf="username.errors['required']">Username is required!</span>
                </div>
                <mat-form-field class="input-full-width">
                    <input matInput placeholder="Password"
                           type="password"
                           class=""
                           id="password"
                           name="password"
                           ngModel=""
                           required=""
                           #password="ngModel">
                </mat-form-field>
                <div class="error-msg" *ngIf="password.invalid && password.touched">
                    <span *ngIf="password.errors['required']">Password is required!</span>
                </div>
                <button mat-raised-button class="input-full-width"
                        type="submit"
                        [disabled]="f.invalid">Sign Up
                </button>
            </form>
        </div>
        <div class="column">
            <div class="text-center">
                <img src="https://s3.amazonaws.com/assets.mockflow.com/app/wireframepro/company/Cb547ee6ef0e3138273a7d38acc95b3de/projects/Me642693544dc52a5791804a0b612e2fa1538463248102/images/M6df96089618ae126d2676ce03de08f8b1538473180194">
            </div>
            <h3 class="title text-center">The Safest Place to Trade</h3>
            <mat-list>
                <mat-list-item>
                    <mat-icon matListIcon>
                        <img class="img-icon" src="https://s3.amazonaws.com/assets.mockflow.com/app/wireframepro/company/Cb547ee6ef0e3138273a7d38acc95b3de/projects/Me642693544dc52a5791804a0b612e2fa1538463248102/images/M595f41bfbd584d4a67998180f53537a41538559402801">
                    </mat-icon>
                    <p>Your funds are insured up to 2.5 millions</p>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListIcon>
                        <img class="img-icon" src="https://s3.amazonaws.com/assets.mockflow.com/app/wireframepro/company/Cb547ee6ef0e3138273a7d38acc95b3de/projects/Me642693544dc52a5791804a0b612e2fa1538463248102/images/M3b5dc0821883eff4008758617ac58cfd1538473181004">
                    </mat-icon>
                    <p> Verify every transaction executed through your broker on the blockchain</p>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListIcon>
                        <img class="img-icon" src="https://s3.amazonaws.com/assets.mockflow.com/app/wireframepro/company/Cb547ee6ef0e3138273a7d38acc95b3de/projects/Me642693544dc52a5791804a0b612e2fa1538463248102/images/Mdeaf15fd810ae5876a0506285ea2de851538473181734">
                    </mat-icon>
                    <p>Negative balance protection</p>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListIcon>
                        <img class="img-icon" src="https://s3.amazonaws.com/assets.mockflow.com/app/wireframepro/company/Cb547ee6ef0e3138273a7d38acc95b3de/projects/Me642693544dc52a5791804a0b612e2fa1538463248102/images/M1b3cf1616f55d93a3567a155d333c64b1538473182269">
                    </mat-icon>
                    <p>24/5 Live customer support</p>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListIcon>
                        <img class="img-icon" src="https://s3.amazonaws.com/assets.mockflow.com/app/wireframepro/company/Cb547ee6ef0e3138273a7d38acc95b3de/projects/Me642693544dc52a5791804a0b612e2fa1538463248102/images/M770ea13d207a98133976cc202b0dc9101538473182894">
                    </mat-icon>
                    <p>Secure deposits & express withdrawals</p>
                </mat-list-item>
            </mat-list>
            <hr class="divider">
            <h3 class="title text-center">Require an Additional Account?</h3>
            <p class="paragraph">
                As an existing FXPRIMUS Real Account holder you can simply register an additional account through the Members Area with 1 click.
                No additional validation is required.
            </p>
            <a mat-stroked-button routerLink="/login">OPEN ADDITIONAL ACCOUNT</a>
        </div>
    </div>
</div>