.dashboard {
    background-color: #F4F6FA;
}
.full-width {
    width: 100%;
}

.top-bar {
    margin-bottom: 50px;
}

.top-bar mat-card {
    height: 70px;
    padding: 0;
}

.top-bar mat-grid-tile {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.value, .value-title {
    margin: 0;
}

.value {
    font-size: 15px;
    padding-bottom: 7px;
}

.value-title {
    font-size: 15px;
    color: rgb(156, 156, 148);
    text-transform: uppercase;
}

.img-responsive {
    margin: -4px;
    width: 100%;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    border: 1px solid rgba(0,0,0,.2);
}

.margin-top-50 {
    margin-top: 50px;
}

.mat-grid-tile .mat-figure {
    justify-content: left;
}

.align-left {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}

.align-left mat-card {
    width: 85%;
    height: 88.5%;
    border: 1px solid rgba(0,0,0,.2);
}

#profileCompletion {
    display: flex;
    justify-content: space-between;
}

.align-right {
    position: absolute;
    right: 0;
    width: 98.5%;
    padding: 1px;
}

a[mat-raised-button].add-account {
    background-color: #2C2FAC;
}

.mat-progress-bar {
    margin-bottom: 30px;
}