<div class="main-content">
  <div class="not-found container">
    <mat-grid-list [cols]="3" rowHeight="100px" class="margin-bottom-20">
      <mat-grid-tile [colspan]="1" [rowspan]="3">
        <fa name="times"></fa>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="2">
        <h1 class="center-block">
          <span class="not-found-code">404</span> <span class="error">error</span>
        </h1>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <div class="text-center not-found-text">
          <h3>Page not found!</h3>
          <p>We are sorry but the page you are looking for doesn't exist or has been moved.<br>
            Please check back later or use our navigation menu</p>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

</div>